@font-face {
    font-family: "Arcade-Nerf";
    src: url("../fonts/PuffinArcade-Nerf.otf");
}
@font-face {
    font-family: "Arcade-Chrome";
    src: url("../fonts/PuffinArcade-Chrome.otf");
}
@font-face {
    font-family: "Soft-BlkItalic";
    src: url("../fonts/PuffinDisplaySoft-BlkItalic.otf");
}

body{
    width: 100vw;
    overflow: hidden;
}
#jeux{
    display: flex;
    height: 100vh;
    width: 100vw;
}
#en-tete{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: absolute;
    left: 90%;
    width: 6vw;
    height: 100%;
}
#temps{
    font-family: "Arcade-Nerf";
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}
#etatPartie{
    font-family: "Soft-BlkItalic";
    font-size: 15px;
    text-align: center;
}
#joueur{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top:92%;
    height: 10vh;
    left: -0.1vw;
    width: 100%;
    background-color: bisque;
}
#mp{
    font-family: "Arcade-Chrome";
    font-size: 30px;
    position: absolute;
    top:35%;
    left: 93%;
    width: 100%;
}
#vie{
    font-family: "Arcade-Chrome";
    font-size: 30px;
    position: absolute;
    top:35%;
    left: 5%;
    width: 100%;
}
#mp-opposant{
    font-family: "Arcade-Chrome";
    font-size: 30px;
    position: absolute;
    top:20%;
    left: 93%;
    width: 100%;
}
#vie-opposant{
    font-family: "Arcade-Chrome";
    font-size: 30px;
    position: absolute;
    top:20%;
    left: 5%;
    width: 100%;
}
#main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 11vh;
    bottom: 80%;
}
.carte{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 15%;
    height: 100%;
    background-image: url(../images/Question_Block.jpeg);
    background-size:contain, cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
#joueurCarte{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 25vh;
    top: 55%;
}
.carte-board{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 15%;
    height: 50%;
    background-image: url(../images/Question_Block.jpeg);
    background-size:contain, cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
#opposantCarte{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 25vh;
    top: 35%;
}
#carteOpposant-board{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 15%;
    height: 50%;
    background-image: url(../images/Question_Block.jpeg);
    background-size:contain, cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
#opponent{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 0%;
    height: 10vh;
    left: -0.1vw;
    width: 100%;
    background-color: bisque;
}
#main-opponent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 11vh;
    top: 100%;
}
#main-opponent div{
    font-family: "custom";
    margin-left: 1vw;
    margin-right: 1vw;
    width: 15%;
    height: 100%;
    background-image: url(../images/Question_Block.jpeg);
    background-size:contain, cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
#surrender{
    background-color: red;
    z-index: 1;
}
#nextTurn{
    position: absolute;
    top:5vh;
    left: 15vw;
}
#heroPower{
    position: absolute;
    top:5vh;
    left: 75vw;
}
.hpCarte{
    margin-left: 1.5vw;
    width: 3%;
    height: 3vh;
}
.atkCarte{
    margin-right: 1.5vw;
    width: 3%;
    height: 3vh;
}