/*Page CSS pour index.css*/
/*animation de mario qui se cogne contre le block 'login, donc ?'*/

html{
    background: url(/images/backGM2.jpeg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    display: flex;
    justify-content: center;
}

#boiteLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.sign-in-input-group {
    margin-top: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 200px;
    width: 200px;
    align-items: center;
    background-image: url(../images/Question_Block.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

#nom {
    text-align: center;
    align-items: center;
    width: 150px;
}

#mdp {
    text-align: center;
    align-items: center;
    width: 150px;
}

#login {
    text-align: center;
    width: 157px;
}

/*#block {
    height: 4.5vh;
    width: 3vw;
    position: absolute;
    background-image: url(../images/Question_Block.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 68.9vh;
    left: 37vw;
}*/

#hidden {
}