@font-face {
    font-family: "custom";
    src: url("../../fonts/RoBlueShellBold-gxn35.otf");
}

button{
    font-family: "custom";
    font-size: 20px;
    padding: 12px,12px,12px,12px;
    height: 100px;
    width: 250px;
}

